* {
	padding: 0;
}

div {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;

	border: 1px solid black;

	height: 80%;
	padding: 5px;
	margin: 5px;

	cursor: default;
}

.flexContainer {
	border: 0;
}

.btnContainer {
	width: 60%;
	height: 50px;

	margin: 0 auto;

	border: 0;
}

