* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topBar {
	width: 100%;

	position: relative;

	background-image: url(../images/1_首页及账户-00.png);
	background-size: 100% 100%;
}

.loginBtn {
	position: absolute;
	right: 0;
	top: 0;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;

	width: 200px;
	height: 50px;
}

.loginBtn button {
	display: inline-block;

	width: 80px;
	height: 30px;

	color: #fff;
	font-size: 18px;
	font-family: "微软雅黑";
	text-align: center;

	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 15px;

	cursor: pointer;
}

.loginBtn button:hover {
	color: #FCEE21;
	border-color: #FCEE21;
}

#shadow {
	display: none;

	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 1000px;

	background-color: black;
	opacity: 0.2;
}

.loginBar {
	display: none;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	width: 420px;

	font-family: "微软雅黑";

	z-index: 1;

	background-color: #fff;
	
	border: 1px solid #fff;
	border-radius: 20px;
}

#closeLoginBar {
	position: absolute;
	right: 5px;
	top: 5px;

	width: 24px;
	height: 24px;
	background-color: #000;

	border-radius: 12px;
}

#closeLoginBar::before,#closeLoginBar::after {
	content: "";
	width: 100%;
	height: 2px;
	position: absolute;
	top: 50%;
	background-color: #fff;
}

#closeLoginBar::before {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);/*Safari或Chrome*/
	-o-transform: rotate(45deg);/*opera*/
	-ms-transform: rotate(45deg);/*IE9*/
	-moz-transform: rotate(45deg);/*火狐*/
}

#closeLoginBar::after {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);/*Safari或Chrome*/
	-o-transform: rotate(-45deg);/*opera*/
	-ms-transform: rotate(-45deg);/*IE9*/
	-moz-transform: rotate(-45deg);/*火狐*/
}

#closeLoginBar:hover {
	background-color: #F39D9D;
}

.logo {
	width: 100%;
	height: 110px;

	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
}

.logo img {
	width: 55%;
}

.tabBar {
	width: 100%;
}

.tab-heading {
	width: 100%;
	height: 45px;

	font-family: "微软雅黑";
	font-size: 22px;
	font-weight: bold;

	border-bottom: 1px solid #B3B3B3;
}

.tab-heading input {
	display: none;
}

.tab-heading label {
	display: inline-block;
	float: left;

	width: 50%;
	height: 100%;

	line-height: 45px;

	cursor: pointer;
}

#label_in {
	padding-left: 50px;
	text-align: left;
}

#label_up {
	padding-right: 50px;
	text-align: right;

	font-weight: lighter;
	color: #B3B3B3;
}

.tab_content {
	padding-left: 50px;
	padding-right: 50px;

	font-size: 12px;
	font-family: "微软雅黑";
}

.tab_content div {
	margin-top: 10px;
}

.tab_content label {
	display: inline-block;
	position: relative;
	
	width: 320px;
	height: 20px;

	font-weight: bold;
}

.tab_content label span {
	display: inline-block;
	visibility: hidden;

	position: absolute;
	color: #ED1C24;
	font-weight: lighter;

	right: 0;
}

.tab_content input[type="text"] {
	border: 1px solid #B3B3B3;
	border-radius: 5px;

	padding: 5px;

	width: 320px;
	height: 30px;
}

.tab_content input[type="password"] {
	border: 1px solid #B3B3B3;
	border-radius: 5px;

	padding: 5px;

	width: 320px;
	height: 30px;
}

.saveLogin {
	font-weight: lighter;
	color: #B3B3B3;
}

.tab_content input[type="checkbox"] {
	display: inline-block;

	position: relative;
	top: 1px;
}

#btn-sign-in,#btn-sign-up {
	background-color: #E6E6E6;

	width: 320px;
	height: 30px;

	font-weight: bold;
	cursor: pointer;

	border-radius: 5px;
}

label.label_create {
	padding-left: 50px;
	text-align: left;
	cursor: default;
}

#check_label_in {
	padding-right: 50px;
	text-align: right;
	font-weight: lighter;
	color: #B3B3B3;
}

button {
	outline: none;
}

.direction {
	width: 100%;

	background-image: url(../images/1_首页及账户-01.jpg);
	background-size: 100% 100%;
}

.palace {
	width: 100%;

	position: relative;

	display: flex;

	background-color: #1A1A1A;
}

.palace-content {
	width: 65%;
	height: 90%;

	position: relative;

	margin: auto;
}

.palace-content h2 {
	width: 100%;
	height: 80px;

	font-size: 36px;
	font-family: "微软雅黑";
	color: #fff;
	text-align: center;
	line-height: 50px;
}

.carousel {
	width: 100%;
	height: calc(100% - 80px);

	position: relative;

	overflow: hidden;
}

.carousel-box {
	width: 400%;
	height: calc(100% - 30px);

	position: relative;
	left: 0;
	top: 0;

	transition: all ease 1s;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-o-transition: all ease 1s;
}

.carousel-items {
	width: 25%;
	height: 100%;

	float: left;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
}

.carousel-item {
	width: 30%;
	height: 46%;

	background-color: #fff;
}

.carousel-item img {
	width: 100%;
	height: 100%;
}

.carousel-indicators {
	width: 100%;
	height: 10px;

	margin-top: 20px;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.carousel-indicator {
	width: 24.5%;
	background-color: #fff;
}

.carousel-arrow-left {
	width: 50px;
	height: 50px;

	position: absolute;
	left: -100px;
	top: 50%;
	/*top: calc(50% + 25px);*/

	border-top: 2px solid #666666;
	border-left: 2px solid #666666;

	transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.carousel-arrow-right {
	width: 50px;
	height: 50px;

	position: absolute;
	right: -100px;
	top: 50%;
	/*top: calc(50% + 25px);*/

    border-top: 2px solid #666666;
	border-right: 2px solid #666666;

	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.carousel-arrow-left:hover,.carousel-arrow-right:hover {
	border-color: #FCEE21;
}

.selected {
	background-color: #FCEE21;
}

.cooperation {
	width: 100%;

	position: relative;
}

.cooperation-wrap {
	width: 100%;
	height: 75%;
	
	position: relative;

	display: flex;

	background-color: #1A1A1A;
}

.cooperation-content {
	width: 65%;
	height: 80%;

	position: relative;

	margin: auto;

	background-color: #1A1A1A;
}

.cooperation-content h2 {
	width: 100%;
	height: 80px;

	font-size: 36px;
	font-family: "微软雅黑";
	color: #fff;
	text-align: center;
	line-height: 50px;
}

.cooperation footer {
	width: 100%;
	height: 25%;

	background-color: #000;
}

.cooperation .carousel-item {
	width: 100%;
	height: 100%;
}

.cooperation .carousel-item img {
	width: 100%;
	height: 100%;
}

#retrunTop {
	display: none;

	width: 60px;
	height: 60px;

	color: #666666;
	font-family: "微软雅黑";
	font-size: 20px;
	text-align: center;
	line-height: 60px;

	position: fixed;
	right: 20px;
	bottom: 50%;

	border-radius: 30px;
	border: 2px solid #666666;

	cursor: default;
}

#retrunTop:hover {
	border-color: #FCEE21;
	color: #FCEE21;
}