* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {     
        padding: 10px;
        border: : 1px solid #999; 
    }

    /*-- our cleafix hack -- */ 
    .row:before, 
    .row:after {
        content: "";
        display: table ;
        clear: both;
    }

    .col {
        float: left; 
        height: 50px;  
        background-color: #eee;
        border: : 1px solid #999; 
        margin: 10px;
    }

    @media only screen and (min-width:769px){
        .col-md-1{ 
            width: 33.33%;    
        }
        .col-md-2{ 
            width: 50%;       
        }
        .col-md-3{ 
            width: 83.33%;    
        }
        .col-md-4{ 
            width: calc(33.333% - 20px);    
        }
        .col-md-5{ 
            width: 100%;    
        }
        .col-md-6{ 
            width: 100%;      
        }
    }

     @media only screen and (max-width:768px){
        .col-1{ width: 50%;        }
        .col-2{ width: 100%;    }
        .col-3{ width: 100%;    }
        .col-4{ width: 100%;    }
        .col-5{ width: 100%;    }
        .col-6{ width: 100%;      }
    }