.container {
	width: 400px;
	height: 200px;
	background: #ccc;
	position: absolute;
	left:0;
	top:0;
	bottom: 0;
	right: 0;
	margin:auto;
	overflow: hidden;
}
.circle1 {
	position: absolute;
	left: -50px;
	top:-50px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #fc0;
}
.circle2 {
	position: absolute;
	right: -50px;
	bottom: -50px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #fc0;
}