* {
	box-sizing: border-box;
}

body {
  font  : 17px sans-serif;

  padding : 2em;
  margin  : 0;

  background : #222;
}

form {
	display: table;

	margin: 0 auto;
	margin:0 auto; 

	height: 300px;
	width: 500px;

	background-color: #fff;
}

form div {
    display: table-row;
}

form label,form input{
    display: table-cell;
    margin-top: 20px;
}

form label{
    width: 100px;
    text-align: center;

    font-weight: bold;
}

form input{
    width: 300px;
    height: 30px;

    padding: 5px;

    border-radius: 5px;
    outline: none;
}

button {
	margin-left: 20px;

	width: 50px;
	height: 30px;
	
	font-size: 17px;
	font-weight: bold;
	color: #fff;

	border-radius: 5px;
	outline: none;

	background-color: #6C8AF5;
}

#address {
	border: 1px solid #CACACA;
}

#chName {
	border: 1px solid #F8313D;
}

#enName {
	border: 1px solid #47F04A;
}