ul {
	padding-left: 20px;
	margin: 10px 0;
	list-style: none;
}

.tree-heading {
	padding-left: 20px;
	height: 20px;
}

.open {
	background: url("img/open.png") left no-repeat;
	background-size: 20px 20px;
}

.close {
	background: url("img/close.png") left no-repeat;
	background-size: 20px 20px;
}