* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	background-color: #000;
}

.nav {
	background-color: #2189bf;
	width: 100%;
	height: 56px;
}

.nav_left_logo {
	width: 36px;
	height: 36px;
	position: absolute;
	left: 50px;
	top: 10px;
}

.nav_searchbox {
	position: absolute;
	right: 250px;
	top:14px;
	width: 200px;
	height: 28px;
	transition: width 1s;
	-moz-transition:width 1s; /* Firefox 4 */
	-webkit-transition:width 1s; /* Safari and Chrome */
	-o-transition:width 1s; /* Opera */
}

.nav_searchbox:hover {
	width: 285px;
}

.nav_searchbox input {
	width: 100%;
	height: 28px;
	position: absolute;
	padding-left: 25px;
	left: 0px;
	top: 0;
	z-index: 2;
	outline: none;
	border: 0;
	background: url(img/2.png) #fff no-repeat;
	background-position: center left;
}

.nav_searchbox:before {
	content: "";
	position: absolute;
	left: -14px;
	top: 0;
	z-index: 1;
	border: 14px solid #fff;
	border-radius: 50%;
}

.nav_searchbox:after {
	content: "";
	position: absolute;
	right: -14px;
	top: 0;
	z-index: 1;
	border: 14px solid #fff;
	border-radius: 50%;
}

.nav_login {
	position: absolute;
	right: 180px;
	top: 16px;
}

.nav_login button {
	color: #fff;
	background: url(img/3.png) no-repeat;
	background-position: center left;
	font-size: 12px;
	font-family: "黑体";
	border: 0;
	cursor: pointer;
	padding: 1px 0 1px 18px;
}

.main {
	width: 1280px;
	height: 1213px;
	margin: 0 auto;
}

.main_left {
	float: left;
	width: 260px;
	height: 1213px;
	background-color: #2a2e3d;
	position: absolute;
}

.main_right {
	float: right;
	width: 1020px;
	height: 1213px;
	background-color: #ededec;
	position: relative;
}

.usermessage {
	width: 100%;
	height: 152px;
	position: absolute;
	left: 0;
	top: 0;
}

.headportrait {
	width: 46px;
	height: 46px;
	position: absolute;
	left: 51px;
	top: 23px;
	border-radius: 50%;
	background: url(img/hp.jpg) no-repeat;
	background-position: center;
	transition: transform 2s ease-out;
	-webkit-transition: transform 2s ease-out;
}

.headportrait:hover {
	cursor: pointer;
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
  	-ms-transform: rotate(360deg);
}

.headportrait:after {
	content: "";
	position: absolute;
	left: -5px;
	top: -5px;
	width: 54px;
	height: 54px;
	border: 1px solid #b9babe;
	border-radius: 50%;
}

.usermessage >span {
	display: inline-block;
	font-family: "黑体";
	font-size: 16px;
	color: #fff;
	padding-left: 120px;
	padding-top: 38px;
}

.collect-fans {
	position: absolute;
	top: 100px;
	left: 62px;
	width: 110px;
	height: 16px;
}

.collect {
	width: 50%;
	border-right: 1px solid #6e8095;
	float: left;

}

.fans {
	float: right;
	width: 50%;
}

.collect-fans span {
	display: block;
	font-family: "黑体";
	font-size: 16px;
	text-align: center;
	color: #6e8095;
}

.collect-fans a {
	text-decoration: none;
}

.userlists {
	width: 100%;
	position: absolute;
	left: 0;
	top: 149px;
}

.userlists a {
	text-decoration: none;
	padding-left: 45px;
	font-size: 12px;
	font-family: "黑体";
	line-height: 48px;
	color: #6e8095;
	width: 100%;
	height: 48px;
	display: inline-block;
}

.userlists a:hover {
	color: #fff;
}

.userlists li {
	list-style: none;
	height: 48px;
}

.userlists li:hover {
	background-color: #383d4e;
}

a.second {
	padding-left: 69px;
	display: inline-block;
}

a.third {
	padding-left: 100px;
	display: inline-block;
}

.parents {
	overflow-y: hidden;
	transition: all ease 0.5s;
}

li.parents:hover {
	height: 250px;
}

.right_nav {
	background-color: #fff;
	width: 100%;
	height: 31px;
}

.right_nav ul {
	display: block;
	position: relative;
	left: 20px;
	top: 5px;
}

.right_nav a {
	text-decoration: none;
	font-family: "黑体";
	font-size: 12px;
	color: #b7b7b7;
}

.right_nav a:hover {
	color: #6898c2;
}

.right_nav li {
	display: inline-block;
	position: relative;
	margin-left: 5px;
}

.right_search {
	width: 890px;
	height: 100px;
	margin: 10px auto;
	background-color: #fff;
	padding: 15px 30px;
	position: relative;
}

.right_search label {
	color: #aaa;
	font-size: 12px;
	font-family: "黑体";

}

.right_search fieldset {
	border: none;
	display: block;
}

.right_search select {
	background: url(img/下箭头.png) no-repeat 97%;
	appearance: none;
	-webkit-appearance: none;
	border: 1px solid #aaa;
	font-size: 12px;
	font-family: "黑体";
	padding: 4px 14px;
	vertical-align: middle;
	margin-left: 20px;
	align-items: center;
}

.query_item {
	float: left;
	margin-right: 38px;
}

.query_item select {
	width: 70px;
}

.sell_buy {
	float: left;
	padding-right: 30px;
	background: url(img/换.png) no-repeat center right;
	position: relative;
	margin-right: 38px;
}

.sell_buy select {
	width: 100px;
}

.sell {
	margin-top: 10px;
}

.exchange {
	position: absolute;
	right: 2px;
	top: 40%;
	color: #fff;
	font-size: 12px;
	font-family: "黑体";
}

.exchange:hover {
	cursor: pointer;
}

.other {
	float: left;
	margin-right: 38px;
	position: relative;
}

.other_line1 {
	position: absolute;
	top: 0;
	width: 300px;
}

.other_line2 {
	position: absolute;
	top: 20px;
	width: 400px;
}

.date {
	margin-right: 20px;
	float: left;
}

.date input {
	width: 100px;
	margin-left: 15px;
}

.CountOfPeople {
	margin-top: 10px;
	margin-right: 20px;
	float: left;
}

.CountOfPeople select {
	width: 70px;
	margin-left: 15px;
}

.time {
	float: left;
}

.time select {
	width: 70px;
	margin-left: 15px;
}

.CountOfTrade {
	float: left;
}

.CountOfTrade select {
	width: 100px;
	margin-left: 15px;
	margin-top: 10px;
}

.btn_search {
	position: absolute;
	right: 90px;
	top: 30px;
}

.btn_search button {
	background: #388ac1;
	width: 60px;
	height: 30px;
	color: #fff;
	border: none;
	font-family: "黑体";
	font-size: 15px;
	align-items: center;
	cursor: pointer;
}