* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	background-color: #000;
}

.nav {
	background-color: #2189bf;
	width: 100%;
	height: 56px;
}

.nav_left_logo {
	width: 36px;
	height: 36px;
	position: absolute;
	left: 50px;
	top: 10px;
}

.nav_searchbox {
	position: absolute;
	right: 250px;
	top:14px;
	width: 200px;
	height: 28px;
	transition: width 1s;
	-moz-transition:width 1s; /* Firefox 4 */
	-webkit-transition:width 1s; /* Safari and Chrome */
	-o-transition:width 1s; /* Opera */
}

.nav_searchbox:hover {
	width: 285px;
}

.nav_searchbox input {
	width: 100%;
	height: 28px;
	position: absolute;
	padding-left: 25px;
	left: 0px;
	top: 0;
	z-index: 2;
	outline: none;
	border: 0;
	background: url(img/2.png) #fff no-repeat;
	background-position: center left;
}

.nav_searchbox:before {
	content: "";
	position: absolute;
	left: -14px;
	top: 0;
	z-index: 1;
	border: 14px solid #fff;
	border-radius: 50%;
}

.nav_searchbox:after {
	content: "";
	position: absolute;
	right: -14px;
	top: 0;
	z-index: 1;
	border: 14px solid #fff;
	border-radius: 50%;
}

.nav_login {
	position: absolute;
	right: 180px;
	top: 16px;
}

.nav_login button {
	color: #fff;
	background: url(img/3.png) no-repeat;
	background-position: center left;
	font-size: 12px;
	font-family: "黑体";
	border: 0;
	cursor: pointer;
	padding: 1px 0 1px 18px;
}

.main {
	width: 1280px;
	height: 1213px;
	margin: 0 auto;
}

.main_left {
	float: left;
	width: 260px;
	height: 1213px;
	background-color: #2a2e3d;
	position: absolute;
}

.main_right {
	float: right;
	width: 1020px;
	height: 1213px;
	background-color: #ededec;
	position: relative;
}

.usermessage {
	width: 100%;
	height: 152px;
	position: absolute;
	left: 0;
	top: 0;
}

.headportrait {
	width: 46px;
	height: 46px;
	position: absolute;
	left: 51px;
	top: 23px;
	border-radius: 50%;
	background: url(img/hp.jpg) no-repeat;
	background-position: center;
	transition: transform 2s ease-out;
	-webkit-transition: transform 2s ease-out;
}

.headportrait:hover {
	cursor: pointer;
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
  	-ms-transform: rotate(360deg);
}

.headportrait:after {
	content: "";
	position: absolute;
	left: -5px;
	top: -5px;
	width: 54px;
	height: 54px;
	border: 1px solid #b9babe;
	border-radius: 50%;
}

.usermessage >span {
	display: inline-block;
	font-family: "黑体";
	font-size: 16px;
	color: #fff;
	padding-left: 120px;
	padding-top: 38px;
}

.collect-fans {
	position: absolute;
	top: 100px;
	left: 62px;
	width: 110px;
	height: 16px;
}

.collect {
	width: 50%;
	border-right: 1px solid #6e8095;
	float: left;

}

.fans {
	float: right;
	width: 50%;
}

.collect-fans span {
	display: block;
	font-family: "黑体";
	font-size: 16px;
	text-align: center;
	color: #6e8095;
}

.collect-fans a {
	text-decoration: none;
}

.userlists {
	width: 100%;
	position: absolute;
	left: 0;
	top: 149px;
}

.userlists a {
	text-decoration: none;
	padding-left: 45px;
	font-size: 12px;
	font-family: "黑体";
	line-height: 48px;
	color: #6e8095;
	width: 100%;
	height: 48px;
	display: inline-block;
}

.userlists a:hover {
	color: #fff;
}

.userlists li {
	list-style: none;
	height: 48px;
}

.userlists li:hover {
	background-color: #383d4e;
}

a.second {
	padding-left: 69px;
	display: inline-block;
}

a.third {
	padding-left: 100px;
	display: inline-block;
}

.parents {
	overflow-y: hidden;
	transition: all ease 0.5s;
}

li.parents:hover {
	height: 250px;
}

.right_nav {
	background-color: #fff;
	width: 100%;
	height: 31px;
}

.right_nav ul {
	display: block;
	position: relative;
	left: 20px;
	top: 5px;
}

.right_nav a {
	text-decoration: none;
	font-family: "黑体";
	font-size: 12px;
	color: #b7b7b7;
}

.right_nav a:hover {
	color: #6898c2;
}

.right_nav li {
	display: inline-block;
	position: relative;
	margin-left: 5px;
}

.right_search {
	width: 890px;
	height: 100px;
	margin: 10px auto;
	background-color: #fff;
	padding: 15px 30px;
	position: relative;
	border: 1px solid #ddd;
}

.right_search label {
	color: #aaa;
	font-size: 12px;
	font-family: "黑体";

}

.right_search fieldset {
	border: none;
	display: block;
}

.right_search select {
	background: url(img/下箭头.png) no-repeat 97%;
	appearance: none;
	-webkit-appearance: none;
	border: 1px solid #aaa;
	font-size: 12px;
	font-family: "黑体";
	padding: 4px 14px;
	vertical-align: middle;
	margin-left: 20px;
	align-items: center;
}

.query_item {
	float: left;
	margin-right: 38px;
}

.query_item select {
	width: 75px;
}

.sell_buy {
	float: left;
	padding-right: 30px;
	background: url(img/换.png) no-repeat center right;
	position: relative;
	margin-right: 38px;
}

.sell_buy select {
	width: 100px;
}

.sell {
	margin-top: 10px;
}

.exchange {
	position: absolute;
	right: 2px;
	top: 40%;
	color: #fff;
	font-size: 12px;
	font-family: "黑体";
}

.exchange:hover {
	cursor: pointer;
}

.other {
	float: left;
	margin-right: 38px;
	position: relative;
}

.other_line1 {
	position: absolute;
	top: 0;
	width: 400px;
}

.other_line2 {
	position: absolute;
	top: 20px;
	width: 400px;
}

.date {
	margin-right: 20px;
	float: left;
}

.date input {
	width: 100px;
	margin-left: 15px;
}

.CountOfPeople {
	margin-top: 10px;
	margin-right: 20px;
	float: left;
}

.CountOfPeople select {
	width: 70px;
	margin-left: 15px;
}

.time {
	float: left;
}

.time select {
	width: 70px;
	margin-left: 15px;
}

.CountOfTrade {
	float: left;
}

.CountOfTrade select {
	width: 100px;
	margin-left: 15px;
	margin-top: 10px;
}

.btn_search {
	position: absolute;
	right: 90px;
	top: 30px;
}

.btn_search button {
	background: #388ac1;
	width: 60px;
	height: 30px;
	color: #fff;
	border: none;
	font-family: "黑体";
	font-size: 15px;
	align-items: center;
	cursor: pointer;
}

.search_history {
	width: 890px;
	height: 65px;
	margin: 10px auto;
	position: relative;
}

.time_money {
	width: 83%;
	height: 100%;
	float: left;
}

.time_money:before {
	content: " ";
	float: left;
	width: 31px;
	height: 100%;
	background: url(img/上一条.png) no-repeat center;
	background-color: #fff;
	margin-right: 4px;
	border: 1px solid #ddd;
	cursor: pointer;
}

.time_money:after {
	content: " ";
	float: left;
	width: 31px;
	height: 100%;
	background: url(img/下一条.png) no-repeat center;
	background-color: #fff;
	margin-right: 4px;
	border: 1px solid #ddd;
	cursor: pointer;
}

.time_money li {
	display: inline-block;
	float: left;
	margin-right: 4px;
	width: 14.4%;
	height: 65px;
	background: #fff;
	border: 1px solid #ddd;
}

.time_money li:hover {
	cursor: pointer;
	border-top: 3px solid #4388c8;
}

.time_money li p:first-child {
	font-size: 12px;
	font-family: "微软雅黑";
	color: #323333;
	margin:10px 0;
	text-align: center;
}

.time_money li p {
	font-size: 12px;
	font-family: "微软雅黑";
	color: #aaa;
	text-align: center;
}

.time_money li span {
	font-size: 21px;
	font-family: "微软雅黑";
	color: #ec6500;
	text-align: center;
}

.btn_HisSrh {
	float: right;
	width: 17%;
	height: 100%;
	border: 1px solid #ddd;
	background: #fff;
	padding: 6px;
}

.btn_HisSrh button {
	width: 100%;
	height: 100%;
	border: none;
	background: #fff;
	background: url(img/历史查询.png) no-repeat 10%;
	cursor: pointer;
}

.btn_HisSrh span {
	color: #323333;
	margin-left: 20px;
}

.statistics {
	width: 890px;
	height: 71px;
	margin: 10px auto;
	position: relative;
	margin-top: 30px;
}

.statistics:before {
	content: "2016年4月份统计";
	position: relative;
	top: -20px;
	color: #323333;
	font-size: 12px;
	font-family: "微软雅黑";
}

.statistics ul {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

.statistics li {
	border: 1px solid #ddd;
	margin-right: 29px;
	list-style: none;
	width: 200px;
	height: 100%;
	display: inline-bl9ck;
	float: left;
	background: #fff;
	position: relative;
}

.statistics li:before {
	content: " ";
	width: 3px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.statistics li:nth-child(4) {
	margin-right: 0px;
}

.statistics ul li:nth-child(1):before {
	background: #43b29e;
}

.statistics ul li:nth-child(2):before {
	background: #388ac1;
}

.statistics ul li:nth-child(3):before {
	background: #d04a36;
}

.statistics ul li:nth-child(4):before {
	background: #e2cd46;
}

.statistics li:after {
	content: " ";
	width: 59px;
	height: 47px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.statistics ul li:nth-child(1):after {
	background: #43b29e;
}

.statistics ul li:nth-child(2):after {
	background: #388ac1;
}

.statistics ul li:nth-child(3):after {
	background: #d04a36;
}

.statistics ul li:nth-child(4):after {
	background: #e2cd46;
}

.statistics p:first-child {
	color: #323333;
	font-size: 12px;
	font-family: "黑体";
	margin-top: 15px;
}

.statistics p {
	color: #aaa;
	font-size: 12px;
	font-family: "黑体";
	line-height: 20px;
	margin-left: 20px;
}

.first_items {
	width: 890px;
	height: 356px;
	position: relative;
	margin: 10px auto;
}

.FI_left {
	width: 65%;
	height: 100%;
	float: left;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 15px;
	position: relative;
}

.FI_right {
	width: 34%;
	height: 100%;
	float: right;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 15px;
}

.FI_left p {
	font-family: "黑体";
	font-size: 12px;
	color: #aaaaaa;
	background: #f3f5f6; 
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	border-bottom: 1px solid #ddd;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.FI_right p {
	font-family: "黑体";
	font-size: 12px;
	color: #aaaaaa;
	background: #f3f5f6; 
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	border-bottom: 1px solid #ddd;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.TabControl {
	width: 100%;
	height: 316px;
	padding: 10px 20px;
	position: relative;
}

.tabpage {
	width: 100px;
	height: 36px;
	float: left;
	margin-right: 3px;
}

.tab_radio {
	border: none;
}

.tab_label {
	width: 100%;
	height: 100%;
	background: #ededf0;
	color: #535353;
	font-size: 12px;
	font-family: "微软雅黑";
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	cursor: pointer;
	display: block;
	text-align: center;
	padding-top: 8px;
}

input[type="radio" i] {
	-webkit-appearance: radio;
}

.tabpage input {
	display: none;
}

.tab_content {
	position: absolute;
  	left: -999em;
}

.tab_radio:checked ~ .tab_label {
	z-index: 1;
	background: #fff;
	border: 1px solid #ddd;
	border-bottom: 1px solid #fff;
}

.tab_radio:checked ~ .tab_content {
	padding: 20px;
	width: 536px;
	height: 296;
	border: 1px solid #ddd;
	left: 20px;
	top: 45px;
}

.tab_content table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	border-color: grey;
	display: table;
}

.tab_content tbody {
	vertical-align: middle;
	display: table-row-group;
}

.tab_content td {
	border: 1px solid #d2d2d2;
	height: 34px;
	display: table-cell;
	text-align: center;
	color: #535353;
	font-size: 12px;
	font-family: "宋体";
}

.tab_content td:hover {
	background: #f3f5f6;
}

.FI_right form {
	width: 230px;
	height: 80%;
	margin: 0 auto;
	display: block;
}

.FI_right fieldset {
	width: 100%;
	height: 100%;
	border: none;
}

.FI_right label {
	font-size: 12px;
	font-family: "微软雅黑";
	color: #c3c2c2;
}

.FI_right input,textarea {
	border: none;
	width: 100%;
	padding: 10px;
	font: 12px "微软雅黑";
	color: #535353;
}

.FI_right textarea {
	resize: none;
	height: 70%;
}

.title {
	border-bottom: 1px solid #ddd;
	margin-top: 10px;
}

.price {
	width: 40%;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	float: left;
}

.manager {
	width: 60%;
	border-bottom: 1px solid #ddd;
	float: left;
}

.detail {
	height: 40%;
	width: 100%;
	border-bottom: 1px solid #ddd;
	float: left;
}

.FI_right_opt {
	float: left;
	margin-top: 10px;
	width: 100%;
}

.check {
	float: left;
	width: 100px;
}

.check input {
	width: 14px;
	height: 14px;
}

.check label {
	font: 12px "微软雅黑";
	color: #c3c2c2;
}

.FI_right_opt button {
	font: 12px "微软雅黑";
	color: #fff;
	border: none;
	-wekit-appearance: none;
	display: inline-block;
	float: right;
	background: #388ac1;
	width: 51px;
	height: 26px;
	cursor: pointer;
}

.cal_bran {
	width: 890px;
	height: 356px;
	position: relative;
	margin: 10px auto;
}

.calendar {
	width: 40%;
	height: 100%;
	float: left;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 15px;
	position: relative;

}

.brand {
	width: 59%;
	height: 100%;
	float: right;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 15px;
	position: relative;
}

.calendar >p {
	font-family: "黑体";
	font-size: 12px;
	color: #aaaaaa;
	background: #f3f5f6; 
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	border-bottom: 1px solid #ddd;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.brand p {
	font-family: "黑体";
	font-size: 12px;
	color: #aaaaaa;
	background: #f3f5f6; 
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	border-bottom: 1px solid #ddd;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.cal_wrap {
	width: 88%;
	height: 296px;
	margin: 10px auto;
}

.cal_line1 {
	width: 100%;
	height: 26px;
	margin-bottom: 10px;
}

.cal_select {
	float: left;
	height: 26px;
	margin-right: 6px;
}

.cal_line1 > div:nth-child(1) {
	width: 20%;
}

.cal_line1 > div:nth-child(2) {
	width: 26%;
}

.cal_line1 > div:nth-child(3) {
	width: 25%;
}

.cal_line1 > div:nth-child(4) {
	border: 1px solid #cdcece;
	font: 12px "微软雅黑";
	text-align: center;
	width: 22%;
	padding-top: 2px;
	cursor: pointer;
	margin-right: 0;
}

.cal_select select {
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid #cdcece;
	font: 12px "微软雅黑";
}

.cal_line2 {
	width: 100%;
	height: 30px;
	border-top: 1px solid #a9cfec;
	border-bottom: 1px solid #a9cfec;
}

.cal_wrap table {
	width: 100%;
	height: 100%;
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
}

.cal_wrap tr {
	display: table-row;
}

.cal_wrap tbody {
	vertical-align: middle;
	display: table-row-group;
}

.cal_wrap td {
	display: table-cell;
	text-align: center;
	color: #535353;
	font: 12px "黑体";
}

.cal_line3 {
	width: 100%;
	height: 230px;
}

.cal_line3 p {
	font:11.36px "黑体";
	color: #323333;
	text-align: center;
}

p.festival,p.weekend {
	color: #c9161d;
}

.cal_day {
	width: 44px;
	height: 46px;
	padding-top: 8px;
}

.cal_day:hover {
	border: 1px solid #f8d564;
}

.brand_form {
	width:445px;
	height: 276px;
	margin: 20px 40px;
}

.brand_form table {
	width: 100%;
	height: 100%;
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #cbcbcb;
}

.brand_form thead {
	display: table-header-group;
	vertical-align: middle;
}

.brand_form th {
	font: 13px "黑体";
	color: #231815;
	border: 1px solid #cbcbcb;
	height: 25px;
	display: table-cell;
}

.brand_form th:nth-child(1) {
	width: 80px;
}

.brand_form th:nth-child(2) {
	width: 100px;
}

.brand_form th:nth-child(3) {
	width: 264px;
}

.brand_form tr {
	display: table-row-group;
}

.brand_form tr:hover {
	cursor: pointer;
	background: #f4f5f6;
}

.brand_form td {
	border: 1px solid #cbcbcb;
	height: 25px;
	display: table-cell;
	font: 12px "黑体";
	color: #323333;
	text-align: center;
}

.brand_form td:nth-child(1) {
	width: 80px;
}

.brand_form td:nth-child(2) {
	width: 100px;
}

.brand_form td:nth-child(3) {
	width: 264px;
	text-align: left;
	padding-left: 35px;
}

.processbar {
	width: 140px;
	height: 4px;
	background: #dcdcdc;
	margin-left: 15px;
	position: relative;
	top: -10px;
	left: 45px;
}

.probar_value1 {
	background: #ec6d51;
	width: -webkit-calc(484px / 600 * 140 );
	height: 4px;
}

.probar_value2 {
	background: #ef8150;
	width: -webkit-calc(293px / 600 * 140 );
	height: 4px;
}

.probar_value3 {
	background: #f19e4f;
	width: -webkit-calc(231px / 600 * 140 );
	height: 4px;
}

.probar_value4 {
	background: #7ecaf0;
	width: -webkit-calc(228px / 600 * 140 );
	height: 4px;
}

.probar_value5 {
	background: #7ecaf0;
	width: -webkit-calc(223px / 600 * 140 );
	height: 4px;
}

.probar_value6 {
	background: #7ecaf0;
	width: -webkit-calc(214px / 600 * 140 );
	height: 4px;
}

.probar_value7 {
	background: #7ecaf0;
	width: -webkit-calc(201px / 600 * 140 );
	height: 4px;
}

.probar_value8 {
	background: #7ecaf0;
	width: -webkit-calc(192px / 600 * 140 );
	height: 4px;
}

.probar_value9 {
	background: #7ecaf0;
	width: -webkit-calc(191px / 600 * 140 );
	height: 4px;
}

.probar_value10 {
	background: #7ecaf0;
	width: -webkit-calc(185px / 600 * 140 );
	height: 4px;
}