* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

 .container {
	max-width: 640px;
	height: 700px;
	margin: 25px auto 0 auto;
	background: url(img/bg.png) no-repeat;
	display: flex;
}

.carousel {
	width: 300px;
	height: 400px;
	border: 2px solid #f8aac4;
	position: relative;
	overflow: hidden;
	margin: auto;
}

.car_photos {
	width: calc(300px * 4);
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 0;
	transition: all 0.5s;
	animation:marginLeft 10.5s infinite;
	list-style: none;
}

@keyframes marginLeft{
        0%{margin-left: 0;}
        16.7%{margin-left: -300;}
        33.3%{margin-left: -600;}
        50%{margin-left: -900px;}
        66.7%{margin-left: -600px;}
        83.3%{margin-left: -300;}
        100%{margin-left: 0;}
    }

.car_photos li {
	width: 300px;
	height: 400px;
	float: left;
}

.car_photos img {
	width: 300px;
	height: 396px;
}